h1{
	text-align: center;
	margin-top: 1em;
}

.example-wrapper {
	/* position:initial; */
	/* padding: 0 auto; */
	max-width: 800px;
	margin: 1em auto;
}

img.icon{
	width: 30px;
}

.del-btn{
	position: absolute;
	transform: translate(-50%, -50%);
	left: 35%;
	top: 50%;
}

.btn-col{
	position: relative;
}